.containerCoordinador {
	display: inline-flex;
}
#Profesores div.row{
	display: inline-flex;
}
#Ayudantes div.row{
	display: inline-flex;
}

.containerCoordinador img {
	width: 256px;
	height: 256px;
}

#Profesores div.row img {
	width: 256px;
	height: 256px;
}
#Ayudantes div.row img {
	width: 256px;
	height: 256px;
}
