.containerCoordinador {
	display: inline-flex;
}
#Profesores div.row{
	display: inline-flex;
}
#Ayudantes div.row{
	display: inline-flex;
}

.containerCoordinador img {
	width: 20%;
}

#Profesores div.row img {
	width: 20%;
}
#Ayudantes div.row img {
	width: 20%;
}
